[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"boto3" = "*"
requests = "*"
pillow = "==9.0.1"
flask = "*"
python-dotenv = "*"
gunicorn = "*"


[dev-packages]
