.share-buttons {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  max-width: 900px;
}

.share-button {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: white;
  padding: .4vw .15vw;
  margin-right: 1vw;
  cursor: pointer;
  text-decoration: none;
}

.share-button:last-child {
  margin-right: 0px;
}

.share-button img {
  height: 2vh;
}
.share-button .text {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 2vh;
  white-space: nowrap;
  letter-spacing: .05vw;
  background-color: transparent;
}

.download {
  background-color: #d3d3d3;
}

.facebook {
  background-color: #3B5998;
}

.twitter {
  background-color: #00a0ec;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .share-button .text {
    display: none;
  }
}
