<html>
  <body>

    <h1>'Stache-ification Station</h1>

    <hr>

    <h2>Your avatar</h2>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('submit_form') }}" enctype="multipart/form-data">
      <input type="file" name="original" id="file-input">
      <p id="status">Please select a file</p>

      <hr>

      <input type="submit" value="IronStachify Your Photo">
    </form>
  </body>
</html>
