<html>
  <head>
  	<title>Stache Yo Self</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>

    <h1>Stache Yo Self</h1>

    <div class="form-box">

      <h2>Ready to IronStache yourself?</h2>
      <p>Select a photo from your computer to get started.</p>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes errors">

          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      <form method="POST" action="{{ url_for('submit_form') }}" enctype="multipart/form-data">

        <input type="file" name="original" id="file-input" class="file-input">
        <label for="file-input">Upload a photo</label>

        <input type="submit" id="file-submit" value="Mustachify Me!">

      </form>

      <p id="status">[Photo sizing tips]</p>
    </div>

  </body>
</html>