<html>
  <head>
  	<title>Stache Yo Self</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>

    <h1>Stache Yo Self</h1>

    <a href="{{ mustachioed_url }}" download><img class="preview" id="preview" src="{{ mustachioed_url }}"></a>
    <br>

    <a href="{{ mustachioed_url }}" download><input type="button" value="Download"></a>
    <input type="button" value="Share on Facebook">
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  </body>
</html>
