<html>
  <head>
    <title>Mustachify</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/share-buttons.css') }}">
  </head>
  <body>
    <div id="preview-container">
      <a href="{{ mustachioed_url }}" download>
        <img id="preview" src="{{ mustachioed_url }}">
      </a>

      <div class="share-buttons">
        <a class="share-button download" href="{{ mustachioed_url }}" download>
          <img src="/static/images/download.svg">
          <input type="button" value="Download" class="text">
        </a>

        <a class="share-button facebook" href="https://www.facebook.com/sharer/sharer.php?u={{shareable_url|urlencode}}&amp;src=sdkpreparse" target="_blank">
          <img src="/static/images/facebook-logo.svg">
          <input type="button" value="Share on Facebook" class="text">
        </a>

        <a class="share-button twitter" href="https://twitter.com/intent/tweet?text=Mustachify yourself!&&url={{ shareable_url }}&via=ragtag_team" target="_blank" title="Tweet">
          <img src="/static/images/twitter-logo.svg">
          <input type="button" value="Share on Twitter" class="text">
        </a>
      </div>
    </div>

    <p style="text-align: center">
      <a href="https://ragtag.org/?utm_medium=web&amp;utm_source=mustachify&amp;utm_name=empowered-badge"><img src="https://assets.ragtag.tech/empowered-by-ragtag.svg" alt="Empowered by Ragtag"></a>
    </p>
  </body>
</html>
