<html>
  <head>
    <title>Stache Yo Self</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <h1>Stache Yo Self</h1>

    <div id="preview-container">
      <a href="{{ mustachioed_url }}" target="_blank">
        <img id="preview" src="{{ mustachioed_url }}">
      </a>

      <div class="share-buttons">
        <a class="share-button download" href="{{ mustachioed_url }}" download>
          <img src="/static/images/download.svg"> <span class="text">Download</span>
        </a>

        <a class="share-button facebook" href="https://www.facebook.com/sharer/sharer.php?u={{shareable_url|urlencode}}&amp;src=sdkpreparse" target="_blank">
          <img src="/static/images/facebook-logo.svg"> <span class="text">Share on Facebook</span>
        </a>

        <a class="share-button twitter" href="https://twitter.com/intent/tweet?text=Mustachify yourself!&&url={{ shareable_url }}&via=ragtag_team" target="_blank" title="Tweet">
          <img src="/static/images/twitter-logo.svg"> <span class="text">Share on Twitter</span>
        </a>
      </div>
    </div>
</html>
