@charset "UTF-8";
/* SIGN UP SKIN CSS
 ---------------------------------------------------------------------------*/

#signup td td { padding-top: 6px; padding-bottom: 6px; vertical-align: top; }

#signup .checkbox,
#signup .radiobutton,
#signup .label,
#signup .text { margin: 0 .5em 0 0; }

#signup label,
#signup .label,
#signup .fieldlabel { font-weight: bold; }

#signup .input label { font-weight: normal; }

#signup .submit { margin-top: 18px; }